html,
body,
canvas {
    width: 100%;
    height: 100%;
}

html {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    z-index: 10;
}

#canvas-line {
    background-color: #151f29;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}


#double-pendulum .dg.ac {
    z-index: 100;
}

#double-pendulum .dg.a {
    margin-right: 0;
}

#double-pendulum .dg.main .close-button {
    height: 32px;
    line-height: 32px;
}

#double-pendulum .dg .property-name {
    width: 33%;
}

#double-pendulum .dg .c {
    width: 66%;
}
